# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# Dependency directories
.pnp
.pnp.js

# Build output
dist/
build/

# IDE specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
